<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	{% stylesheets 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' 
        	filter='cssrewrite' %}
        	<link rel="stylesheet" href="{{ asset_url }}" />
        	{% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
       
        <div class="container-fluid">
        	<div class="row">
        		<!--tutaj top logo -->
        	</div>
        	<div class="row">
        		<!-- menu -->
        		<nav class="navbar navbar-default">
        			<div class="container-fluid">
        				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        					<ul class="nav navbar-nav text-center">
        						<li><a href="#">Home</a></li>
        						<li><a href="#">Leagues</a>
        						<li><a href="#">About</a></li>
        						<li><a href="#">Join</a></li>
        					</ul>
        				</div>
        			</div>
        		
        		</nav>
        	</div>
        	<div class="row">
        		<div class="col-md-2">
        			<!-- tutaj zawartość po lewej -->
				        		
        		</div>"	  
        		<div class="col-md-8">
        			<!-- tutaj wszystko co w środku , zmienne -->
        			{% block body %}{% endblock %}		
        		</div>
        		<div class="col-md-2">
        			<!-- tutaj zawartość po prawej -->
        		
        		</div>
        
        
           	
		
		
		
		</div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
