<ul class="nav nav-pills nav-stacked">
	{% for entity in entities %}
		<li style="border-bottom: 1px solid grey"><a href="{{ path('cl_show_league', { 'id': entity.id }) }}">{{ entity.name }}</a></li>
	{% endfor %}	
</ul>